body {
  padding: 20px;
}

.App {
  margin: 0 auto;
  width: 300px;
}

.App > div {
  padding: 20px;
  background-color: lightgray;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
}